@{
    /**/

    ViewBag.Title = "About";
}

<style>
    .social-link {
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        border-radius: 50%;
        transition: all 0.3s;
        font-size: 0.9rem;
    }

        .social-link:hover,
        .social-link:focus {
            background: #ddd;
            text-decoration: none;
            color: #555;
        }
</style>

<div class="container">
    <div class="row shadow-sm rounded border mt-3 " style="border-color: whitesmoke">
        <div class="col-12 d-flex flex-column justify-content-center" style="height: 50px;">
            <h3 class=" text-secondary">Our team</h3>
        </div>
    </div>

    <div class="row text-center justify-content-center border-left border-right shadow-sm pt-5">

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Petar Penkov</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                <ul class="social mb-0 list-inline mt-3">

                    <li class="list-inline-item"><a href="https://www.facebook.com/p3nk0ws" class="social-link "><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/petarpenkov/" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Nikola Pejovski</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.facebook.com/PejovskiNikola" class="social-link "><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Blagojche Mojanoski</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.facebook.com/blagojchemojanoski" class="social-link "><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/blagojchemojanoski/" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End-->

    </div>
</div>

