body {
    background-image: url("accounting.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {
    background-color: rgba(60, 60, 60, 0.7);
    border: 0;
    border-radius: 0,7rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(2, 2, 2, 0.1);
 
}

.card-signin .card-title {
    font-weight: 300;
    font-size: 2.0rem;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 0,7rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 0,7rem;
    background-color: white;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #000000;
    
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
        color: black;
    }
    a{
        color:white;
    }
.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: black;
}
#inputPassword:focus, #inputEmail:focus {
    background-color: white;
}
#inputPassword:focus {
    background-color: white;
}


.btn-Google {
    color: white;
    background-color: #ea4335;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-Facebook {
    color: white;
    background-color: #3b5998;
    font-family: 'Source Sans Pro', sans-serif;
}
